<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Service -->
    <bean id="cartService" class="com.webshop.service.impl.CartServiceImpl">
        <property name="productsDao" ref="productsDAO"/>
        <property name="myCartDao" ref="myCartDAO"/>
    </bean>

    <bean id="registerService" class="com.webshop.service.impl.RegisterServiceImpl">
        <property name="userDao" ref="userDAO"/>
    </bean>

    <bean id="loginService" class="com.webshop.service.impl.LoginServiceImpl">
        <property name="myCartDAO" ref="myCartDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="orderService" class="com.webshop.service.impl.OrderServiceImpl">
        <property name="myCartDAO" ref="myCartDAO"/>
        <property name="orderDAO" ref="orderDAO"/>
        <property name="orderDetailsDAO" ref="orderDetailsDAO"/>
        <property name="productsDAO" ref="productsDAO"/>
    </bean>

    <bean id="productsService" class="com.webshop.service.impl.ProductsServiceImpl" lazy-init="false">
        <property name="productsDao" ref="productsDAO"/>
    </bean>

    <bean id="homeService" class="com.webshop.service.impl.HomeServiceImpl">
        <property name="productsDAO" ref="productsDAO"/>
        <property name="myCartDAO" ref="myCartDAO"/>
        <property name="userDAO" ref="userDAO"/>
    </bean>

    <bean id="logoutService" class="com.webshop.service.impl.LogoutServiceImpl">
    </bean>

    <!-- com.webshop.dao beans -->
    <bean id="productsDAO" class="com.webshop.dao.daoImpl.ProductsDAOImpl" lazy-init="false"/>
    <bean id="myCartDAO" class="com.webshop.dao.daoImpl.MyCartDAOImpl"/>
    <bean id="userDAO" class="com.webshop.dao.daoImpl.UserDAOImpl"/>
    <bean id="orderDAO" class="com.webshop.dao.daoImpl.OrderDAOImpl"/>
    <bean id="orderDetailsDAO" class="com.webshop.dao.daoImpl.OrderDetailsDAOImpl"/>

<!--    &lt;!&ndash;    Controller's    &ndash;&gt;
    <bean id="cartController" class="com.webshop.controller.CartController">
        <property name="cartService" ref="cartService"/>
    </bean>
    <bean id="homeController" class="com.webshop.controller.HomeController">
        <property name="homeService" ref="homeService"/>
    </bean>
    <bean id="loginController" class="com.webshop.controller.LoginController">
        <property name="loginService" ref="loginService"/>
    </bean>
    <bean id="logoutController" class="com.webshop.controller.LogoutController">
        <property name="logoutService" ref="logoutService"/>
    </bean>
    <bean id="registerController" class="com.webshop.controller.RegisterController">
        <property name="registerService" ref="registerService"/>
    </bean>
    <bean id="orderController" class="com.webshop.controller.OrderController">
        <property name="orderService" ref="orderService"/>
    </bean>
    <bean id="productsController" class="com.webshop.controller.ProductsController">
        <property name="productsService" ref="productsService"/>
    </bean>-->

</beans>
